body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
  }
  canvas {
    border: 8px solid gray;
    border-radius: 200px;
    image-rendering: pixelated;
  }
  